@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

:root {
    --color-naranja: #F8AF43;
    --color-negro: #484444;
    --color-blanco: #ffffff;
    --color-naranja-palido: #FFF9EF;

    --font-family: 'M PLUS Rounded 1c';

    --font-weight-800: 800;
    --font-weight-400: 400;

    --h1-font-size: 2.25em;
    --h2-font-size: 1.75em;
    --h3-font-size: 1.5em;
    --h4-font-size: 1.125em;
    --paragraph-font-size: 1.125em;
    --fechas-font-size: 1em;
    --nav-font-size: 1em;
    --btn-font-size: 1em;
    --condiciones-font-size: 0.875em;
    --pie-font-size: 0.875em;

    --h1-line-height: 1.5em;
    --h2-line-height: 1.4em;
    --h3-line-height: 1.3em;
    --h4-line-height: 1.125em;
    --paragraph-line-height: 1.4em;
}

/* MEDIA QUERY TAMAÑOS MOVIL */
@media (min-width: 321px) and (max-width: 627px) {
    h1 {font-size: 2em; line-height: 1.2em;}
    h2 {font-size: 1.6em; line-height: 1.1em;}
    h3 {font-size: 1.2em; line-height: 1.1em;}
    p {font-size: 0.9em; line-height: 0.6em;}
}

/* RESET */
* {
    box-sizing: border-box;
    }
    
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    display: block;
    }
    
    body {
    line-height: 1;
    font-family: 'Rubik', sans-serif;
    
    line-height: 1.5;
    }
    
    ol, ul {
    list-style: none;
    }
    
    blockquote, q {
    quotes: none;
    }
    
    blockquote:before, blockquote:after,
    q:before, q:after {
    content: '';
    content: none;
    }
    
    table {
    border-collapse: collapse;
    border-spacing: 0;
    }
    
    a {
    color:inherit;
    text-decoration: none;
    }
    
    img {
    width: 100%;
    display: inline-block;
    }

/* RESET FINISHED */
/* ESTILOS */

h1::selection, h2::selection, h3::selection, h4::selection, p::selection, input::selection, .blog__fecha::selection, b::selection, .condiciones::selection, label::selection {
    color: var(--color-naranja-palido);
    background: var(--color-naranja);
}

img::selection, input::selection, button::selection, ul::selection, li::selection, .btn::selection, a::selection, br::selection, iframe::selection  {
    opacity: 0;
}


h1 {
    color: var(--color-naranja);
    font-family: var(--font-family);
    font-weight: var(--font-weight-800);
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
}

h2 {
    color: var(--color-naranja);
    font-family: var(--font-family);
    font-weight: var(--font-weight-800);
    font-size: var(--h2-font-size);
    line-height: var(--h2-line-height);

}

h3 {
    color: var(--color-naranja);
    font-family: var(--font-family);
    font-weight: var(--font-weight-800);
    font-size: var(--h3-font-size);
    line-height: var(--h3-line-height);
}

h4 {
    color: var(--color-naranja);
    font-family: var(--font-family);
    font-weight: var(--font-weight-800);
    font-size: var(--h4-font-size);
    line-height: var(--h4-line-height);
}

p {
    color: var(--color-negro);
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
    font-size: var(--paragraph-font-size);
    line-height: var(--paragraph-line-height);
}

.blog__fecha {
    color: var(--color-naranja);
    font-family: var(--font-family);
    font-weight: var(--font-weight-400);
    font-size: var(--fechas-font-size);
    margin-bottom: 1rem;
}

b {
    font-weight: var(--font-weight-800);
}

a {
    text-decoration: none;
}

.condiciones {
    font-family: var(--font-family);
    font-size: var(--condiciones-font-size);
    font-weight: var(--font-weight-400);
    color: var(--color-negro);
}

.pie {
    font-family: var(--font-family);
    font-size: var(--pie-font-size);
    font-weight: var(--font-weight-400);
    color: var(--color-negro);
}

.btn {
    width: 117px;
    height: 34px;
    padding: 0px 10px;
    font-family: var(--font-family);
    font-size: var(--btn-font-size);
    font-weight: var(--font-weight-800);
    background-color: var(--color-naranja-palido);

    border-radius: 9px;
    border: solid 2px var(--color-naranja);
    color: var(--color-naranja);

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: var(--color-naranja);
    color: var(--color-blanco);
    border: none;
}

.btn:active {
    background-color: #F8AF4390;
}

.btn__blog {
    width: 117px;
    height: 34px;
    padding: 0px 10px;
    font-family: var(--font-family);
    font-size: var(--btn-font-size);
    font-weight: var(--font-weight-800);
    background-color: var(--color-blanco);

    color: var(--color-naranja);

    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__blog:hover {
    background-color: var(--color-naranja);
    color: var(--color-blanco);
    border: solid 2px var(--color-naranja);
    border-radius: 9px;
}

.btn__blog:active {
    background-color: #F8AF4390;
}

hr {
    width: 100%;
    margin: 0rem;
    border: solid 2px var(--color-naranja);
    border-radius: 2px;
}

.margin--bttm {
    margin-bottom: 20px;
}

.text__align--center {
    text-align: center;
    min-width: 20%;
    max-width: 100%;
}

/* TERMINAN ESTILOS */
/* CLASES REUTILIZADAS */

.container__intro {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* HEADER */

.logo {
    width: 219px;
    height: 88px;
}

.section__nav {
    width: 100%;
    height: 134px;
    background-color: var(--color-blanco);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.section__nav--list {
    list-style: none;
}

.li__link {
    display: inline-block;

    color: var(--color-naranja);
    font-family: var(--font-family);
    font-weight: var(--font-weight-800);
}

.li__link a {
    width: 100px;
    padding: 0px 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.li__link a:hover {
    background-color: var(--color-naranja);
    padding: 4px 10px;
    margin: auto;
    color: var(--color-blanco);
    border-radius: 9px;
}

.li__link a:active {
    color: var(--color-blanco);
    background-color: #F8AF4390;
}

/* MEDIA QUERY HEADER TABLET */
@media (min-width: 630px) and (max-width: 784px) {
    .logo {transform: scale(0.8); transition: 1s;}
    .section__nav {gap: 0rem;}
    .li__link a { width: 78px; padding: 0px 10px;}
    .li__link { font-size: 0.89em;}
    header { height: 120px;}
}

/* MEDIA QUERY TABLET */
@media (min-width: 661px) and (max-width: 8000px) {
    .btn__menu--burguer, #menu__hamburguesa, #menu__hamburguesa--blog, .burguer__nav {
        display: none;
    }
}

/* MEDIA QUERY MÓVIL */
@media (min-width: 320px) and (max-width: 661px) {
    .none {
        display: none;
    }
}

#menu__hamburguesa, #menu__hamburguesa--blog {
    display: none;
}

#menu__hamburguesa.active, #menu__hamburguesa--blog.active {
    display: flex;
}

.burguer__nav {
    width: 100%;
    height: 280px;
    padding: 2rem;
    z-index: 1;
    background-color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.btn__menu--burguer {
    padding: 4px 10px;
    margin: auto;

    font-family: var(--font-family);
    font-size: var(--nav-font-size);
    font-weight: var(--font-weight-800);
    color: var(--color-naranja);
    background-color: var(--color-blanco);
    border: none;
}

.btn__menu--burguer:hover {

    background-color: var(--color-naranja);
    border-radius: 9px;

    color: var(--color-blanco);

    cursor: pointer;
}


/* TERMINA HEADER */
/* SLIDE */
.section__contenedor--banner--slider {
    overflow: hidden;
    min-width: 100vw;
    max-width: 100vw;
}

.section__slider {
    width: 100%;
    min-height: 440px;
    max-height: 500px;

    display: flex;
    flex-flow: row nowrap;
    transition: 2s ease-in-out;
}

.slider__img {
    min-width: 100vw;
}

.section__slider img {
    object-fit: cover;
}

.contenedor__banner--academia {
    min-height: 102px;
    max-height: 185px;
}

/* MEDIA QUERY HEADER MÓVIL */
@media (min-width: 320px) and (max-width: 630px) {
    .section__contenedor--banner--slider, .section__slider, .slider__img  { width: 100vw;}
    .section__blog { padding: 0.5rem; margin: 0.1rem;}
}

/* TERMINA SLIDE */
/* SECCIÓN ACADEMIA */

/*
.section__aulacocina {
    min-width: 100%;
} */

    /* clase reutilizada */
    .section__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
    }

    .academia__tablet--movil {
        text-decoration: none;
    }

    /* MEDIA QUERY SLIDER ACADEMIA TABLET MOVIL*/
    @media (min-width: 320px) and (max-width: 999px) {
        .academia__tablet--movil { flex-basis: auto; order: 1;}
    }


.section__academia, .section__cursos {
    min-width: 30%;
    max-width: 90%;
    min-height: 400px;
    max-height: 800px;
    margin: 30px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-grow: 1;
}

.block__item--img {
    width: 411px;
    border-radius: 9px;
}

.block__item--info {
    min-width: 400px;
    max-width: 456px;
    min-height: 285px;

    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

    /* slide academia */

    .section__contenedor--slider {
        min-width: 411px;
        max-width: 411px;
        max-height: 312px;

        overflow: hidden;
        border-radius: 9px;
    }

    .block__item--slider {
        display: flex;
        flex-flow: row nowrap;
        transition: 2s ease-in-out;
    }

    .block__item--img {
        width: 411px;
    }

    .block__item--slider img {
        object-fit: cover;
    }

    /* termina slide academia */
/* TERMINA SECCIÓN ACADEMIA */
/* SECCIÓN CURSOS */

.img__cursos {
    width: 314px;
    margin: 0px 60px;
}

/* TERMINA SECCIÓN CURSOS */
/* SECCIÓN BLOG */

.section__blog {
    min-width: 40%;
    max-width: 90%;
    margin: 4rem;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
}

    /* clase reutilizada */
    .section__cards {
        margin: 2rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 3rem 2rem;

        flex-grow: 1;
    }

    /* clase reutilizada */
    .block__card {
        display: flex;
        flex-direction: column;
    }

.cards__item {
    width: 327px;
}

.cards__item--img {
    width: 327px;
    border-radius: 5px;
    margin-bottom: 1.4rem;
}

/* TERMINA SECCIÓN BLOG */
/* SECCIÓN NEWSLETTER */

.section__newsletter {
    min-width: 400px;
    max-width: 100%;
    margin: 0rem auto 3rem auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.newsletter__img {
    width: 291px;
}

.newsletter__img--how {
    width: 444px;
}

.newsletter__info--how {
    min-width: 300px;    
    max-width: 536px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.newsletter__info--how p {
    text-justify: center;
}

.field__style {
    border: solid 2px var(--color-naranja);
    padding: 10px;
    border-radius: 9px;
}

.field__style:active {
    border: solid 2px var(--color-naranja);
}

.form__newsletter {
    height: 42px;
}

.how__form {

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form__cond--btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (min-width:330px) and (max-width: 817px) {
    .form__cond--btn {
        flex-direction: column;
        justify-content: start;
    }
}

/* TERMINA SECCIÓN NEWSLETTER */
/* SECCION NEWSLETTER ABREVIADA*/

.section__newsletter--abreviada {
    min-width: 30%;
    max-width: 80%;
    margin: 4rem auto;
}

.newsletter__abreviada {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;    
    gap: 1rem;
    margin: auto;
}

.newsletter__info {
    width: 55%;
    min-width: 35%;
    max-width: 55%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.newsletter__width {
    min-width: 30%;
    max-width: 100%;
}

/* TERMINA SECCION NEWSLETTER ABREVIADA */ 
/* FOOTER 1440px */

footer {
    min-width: 30%;
    max-width: 100%;
    min-height: 244px;
    background-color: var(--color-naranja);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 6rem;

    flex-grow: 1;
}

.footer__img--redes {
    width: 22px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.li__link--footer {
    color: var(--color-blanco);
    font-family: var(--font-family);
    font-weight: var(--font-weight-800);
}

.li__link--footer:hover {
    text-decoration: underline;
}

.li__link--footer:active {
    color: var(--color-blanco);
    opacity: 0.6;
}

.redes {
    display: flex;
    gap: 1rem;
}

/* TERMINA FOOTER */
/* PAGINA ACADEMIA */

.section__aulacocina--width {
    max-width: 78%;
}

/* (contenedor) section block línea 267 */
    .section__aulacocina {
        width: 648px;
        margin-bottom: 2rem;
    }

/* (row) section__cards línea 347 */ 

/* (columna) block__card línea 357 */
    .block__aulacocina {
        width: 270px;
    }

    .cards__aulacocina--img {
        width: 270px;
        margin-bottom: 20px;
    }



/* TERMINA PAGINA ACADEMIA */
/* SLIDER OPINIONES ALUMNOS */

    .section__opiniones {
        width: 100vw;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .opiniones__slider {
        width: 100%;
        min-height: 254px;
        max-height: 800px;
        background-color: var(--color-naranja);

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        flex-grow: 1;
    }

    .opinion__alumno {
        width: 310px;
        height: 166px;
    }

    .alumno__icon--img {
        width: 36px;
    }

    .texto__opiniones, .titulo__opiniones {
        color: var(--color-blanco);
    }

    .titulo__opiniones {
        font-weight: var(--font-weight-800);
    }

    .alumno__identificador {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0.5rem;
    }


/* TERMINA SLIDER OPINIONES ALUMNOS */
/* BANNER CURSOS */
.section__banner--cursos {
    width: 100%;
    height: 463px;
    background-image: url("../assets/img-editadas/fondo-banner.webp");
    background-attachment: fixed;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    padding: 7rem;

    margin-bottom: 2rem;
}

.banner__cursos--h3 {
    width: 537px;
    color: var(--color-blanco);
}

/* TERMINA BANNER CURSOS */
/* FORMULARIO */

/* estilo reciclado field línea 539 */

.section__formulario {
    min-width: 40%;
    max-width: 80%;
    height: fit-content;
    margin: auto;

    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 3rem;
}

.field__type--text {
    width: 100%;

    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    flex-grow: 1;
}

.type__text--width {
    min-width: 30%;
    width: 48%;
    max-width: 80%;
}

.field__item {
    font-family: var(--font-family);
    font-size: var(--paragraph-font-size);
    font-weight: var(--font-weight-800);
    color: var(--color-negro);
    display: flex;
    flex-direction: column;
}

.form__cond--btn {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;

    flex-grow: 1;

    align-items: start;
    align-self: flex-start;
}

@media (min-width:320px) and (max-width:530px) {
    .field__type--text {flex-direction: column;}
    .type__text--width {min-width: 100%;}
}


/* TERMINA FORMULARIO */
/* PÁGINA PREGUNTAS FRECUENTES */

.contenedor__banner {
    min-height: 196px;

}

.banner__img {
    width: 100%;
    height: 100%;

    object-fit: contain;
}

.section__preguntas {
    width: 80%;
    margin: 0rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preguntas--desplegables {
    margin:1rem auto;
    background-color: white;
    padding: 40px 40px;
    border-radius: 9px;
    font-family: 'Courier New', Courier, monospace;
}

.titulo__pregunta {
    width: 100%;
    padding: 15px;
    min-height: 20px;
    margin: 1rem 0px;
    background-color: var(--color-naranja-palido);
    border: solid 2px var(--color-naranja);
    border-radius: 9px;

    font-weight: var(--font-weight-400);
}

#pregunta1, #pregunta2,#pregunta3,#pregunta4,#pregunta5 {
    display: none;
}

#pregunta1:target, #pregunta2:target, #pregunta3:target, #pregunta4:target, #pregunta5:target {
    display: block;
}

/* TERMINA PÁGINA PREGUNTAS FRECUENTES */
/* PÁGINA ARTÍCULOS BLOG */

.section__blog--page {
    min-width: 40%;
    max-width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
}

.articulo__blog {
    margin-bottom: 4rem;
}

@media (min-width: 630px) and (max-width: 1024px) {
    .section__blog--page { 
        margin: 0rem 5rem;
        max-width: 90%;
    }
}

@media (min-width: 320px) and (max-width: 630px) {
    .section__blog--page { 
        margin: 0rem 3rem; 
        max-width: 80%;
    }
}

/* TERMINA PÁGINA ARTÍCULOS BLOG */
/* PÁGINA CONTACTO: MAPAS */

.section__contacto--mapas {
    min-width: 20%;
    max-width: 85%;
    margin: auto;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
}

.contacto__info {
    margin: 1rem 6rem;
    display: flex;
    flex-flow: column;
    align-self: flex-start;
}

.contacto__mapas {
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    gap: 2rem;

    flex-grow: 1;
}

.mapas__info--academia, .form__label {
    margin-top: 1rem;
    font-size: 0.85em;
}

/* TERMINA PÁGINA CONTACTO: MAPAS */
/* PÁGINA CURSOS */

.banner__cursos {
    min-width: 100%;
    padding: 1rem 0rem;
    margin: 1rem 0rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.banner__cursos--p {
    width: 40%;
    font-size: 36px;
    color: var(--color-naranja);
    text-align: center;
}

.banner__cursos--img {
    width: 232px;
}

.banner__cursos--img--2 {
    width: 274px;
}

/* MEDIA QUERY BANNER PÁGINA CURSOS */
@media (min-width: 753px) and (max-width: 944px) {
    .banner__cursos--p {font-size:28px}
    .banner__cursos--img {width: 190px;}
}

@media (min-width: 300px) and (max-width: 753px) {
    .banner__cursos--p {font-size:24px}
    .banner__cursos--img {width: 160px;}
}

@media (min-width: 521px) and (max-width: 636px) {
    .banner__cursos--p {font-size:20px}
    .banner__cursos--img {width: 130px;}
}

@media (min-width: 465px) and (max-width: 521px) {
    .banner__cursos--p {font-size:18px}
    .banner__cursos--img {width: 100px;}
}

@media (min-width: 300px) and (max-width: 465px) {
    .banner__cursos--p {font-size:16px; width: 60%;}
    .banner__cursos--img {width: 70px;}
    .banner__cursos {width: 60%; gap: 0.5rem;}
}